---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}"> 

{% include head.html %}

<body>
  <div class="wrapper">
    {% include sidebar.html %}

    <div class="main-wrapper">
      {% include career-profile.html %}

      {% unless site.data[page.lang].sidebar.education %}
        {% include education.html %}
      {% endunless %}
      
      {% include experiences.html %}
      
      {% include projects.html %}
      
      {% include publications.html %}
      
      {% include skills.html %}

    </div>
  </div>

  {% include footer.html %}

{% include scripts.html %}
</body>

</html>

